*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background-color: #f2f2f2;
    color: #333333;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #007bff;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

button:hover {
    background-color: #0056b3;
}

input {
    padding: 5px;
    margin: 20p;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

label {
    margin-top: 20px;
}

form {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form a {
    margin-top: 2rem;
    width: auto;
    height: auto;
}

form .button {
    padding: 12px 24px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
    width: 150px;
}

div.container {
    color: #000000;;
    border-radius: 2rem;
    padding: 20px;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    background-color: #3994e1;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    width: 80%;
    
}

.container {
    text-align: center;
}

div.container p {
    text-align: left;
}

.edit-button {
    background-color: #1c73d0;
    width: 100px;
}
button.edit-button:hover {
    background-color: #0f5ea8;
  }

.delete-button {
    width: 100px;
    background-color: #D01C1C;
}

button.delete-button:hover {
    background-color: #950a0a;
    ;
}

.footer {
    background-color: #1c73d0;
    padding: 20px;
    margin-top: auto;
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
}