body {
    background-color: #f2f2f2;
    color: #333333;
    font-family: Arial, sans-serif;

}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #007bff;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

button:hover {
    background-color: #0056b3;
}

input {
    padding: 5px;
    margin: 20p;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

label {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form a {
    margin-top: 20px;
    width: auto;
    height: auto;
}

form .button {
    padding: 12px 24px;
    background-color: #007bff;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 20px;
    width: 150px;
  }
div.container{
    padding: 30px;
    margin-bottom: 20px;
    background-color: lightblue;
}
.container {
    text-align: center;
  }

.container p
 {
    text-align: left;
  }
.edit-button{
width: 100px;
}
.delete-button{
    width: 100px;
    background-color: #dc3545;
}
button.delete-button:hover {
    background-color: #c82333;
}