header {
    height: 100px;
    background-color: #1c73d0;
    padding: 30px 10px; 

  }
  
  header nav {
    display: flex;
    justify-content: center;
  }
  
  header nav a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
  }
  
  header nav a:hover {
    color: #cce5ff;
  }
  
 
  header p {
    margin: 0;
    margin-left: 20px;
    font-style: italic;
    color: #fff;
  }
  